/**
*
* {{properCase name }}
*
*/

{{#if wantActionsAndReducer}}
import React, { {{{ type }}}, useReducer } from 'react';
{{else}}
import React, { {{{ type }}} } from 'react';
{{/if}}
import PropTypes from 'prop-types';
{{#if wantHeaders}}
import { Helmet } from 'react-helmet';
{{/if}}
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
{{/if}}

{{#if wantActionsAndReducer}}
import { defaultAction } from './actions';
import reducer, { initialState } from './reducer';
{{/if}}
{{#if wantMessages}}
import messages from './messages';
{{/if}}

/* eslint-disable react/prefer-stateless-function */
export class {{ properCase name }} extends {{{ type }}} {

  static propTypes = {};
  static defaultProps = {};

  render() {
    return (
        <div>
        {{#if wantHeaders}}
        <Helmet>
          <title>{{properCase name}}</title>
          <meta name="description" content="Description of {{properCase name}}" />
        </Helmet>
        {{/if}}
        {{#if wantMessages}}
          <FormattedMessage {...messages.header} />
        {{else}}
            This is the {{ properCase name }} container!
        {{/if}}
      </div>
    );
  }
}

export default {{ properCase name }};