/**
*
* {{properCase name }}
*
*/

{{#if wantActionsAndReducer}}
import React, { useReducer } from 'react';
{{else}}
import React from 'react';
{{/if}}
import PropTypes from 'prop-types';
{{#if wantHeaders}}
import { Helmet } from 'react-helmet';
{{/if}}
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
{{/if}}

{{#if wantActionsAndReducer}}
import { defaultAction } from './actions';
import reducer, { initialState } from './reducer';
{{/if}}
{{#if wantMessages}}
import messages from './messages';
{{/if}}

function {{ properCase name }}() {

    {{#if wantActionsAndReducer}}
    const [state, dispatch] = useReducer(reducer, initialState);
    {{/if}}

    return (
        <div>
            {{#if wantHeaders}}
                <Helmet>
                    <title>{{properCase name}}</title>
                    <meta name="description" content="Description of {{properCase name}}" />
                </Helmet>
            {{/if}}
            {{#if wantMessages}}
                <FormattedMessage {...messages.header} />
            {{else}}
                This is the {{ properCase name }} container!
            {{/if}}
        </div>
    );
}

{{ properCase name }}.propTypes = {};

export { {{{ properCase name }}} }
export default memo({{{ properCase name }}});